{%extends "layout.njk" %}

{%block title%}
    <title>{{item.name}}-conteudos</title>
{%endblock%}

{%block content%}
     <iframe src="https:/www.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
{%endblock%}